NAVISION_URL=http://your.navision.url/WS_call
NAVISION_USERNAME=Domain\User
NAVISION_PASSWORD=Password
NAVISION_CALL=ReadMultiple
NAVISION_CALL_OPTIONS='{"filter": null}'
NAVISION_ATTRIBUTE_TO_ASSERT=ReadMultiple_Result